body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  font-family: Hiragino Sans GB, Arial,Helvetica, "宋体", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}
